/* The chat bar itself. Set default text color, size, etc. here */
#chatbar {
    margin: 20px;
    padding: 20px;
    font-size: 38px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

/* Style how emotes are displayed */
.emote {
    height: 45px;
    margin-top: -7px;
    vertical-align: middle;
}

/* Style how badges (sub, VIP, mod, etc.) are displayed */
.badge {
    height: 38px;
    vertical-align: middle;
    margin-top: -7px;
    margin-right: 6px; /* Space to next badge */
}

/* This applies to ALL badges */
#badges {
    margin-right: 10px; /* margin between username */
}

/* Style how the chat message username is displayed */
#username {
    /* color: ... will be automatically applied! */
    font-weight: bold;
    margin-right: 15px; /* margin between chat message */
}

/* The content a user wrote */
#message {
    /* empty for now */
}

#message .highlighted {
    /* Style for highlighted message */
    color: goldenrod;
    font-weight: bold;
}